.side-menu-icon,
.side-menu-icon1 {
  width: 40px;
  height: 48px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.side-menu-game-icon {
  position: absolute;
  height: 100%;
  width: 68.85%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 31.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.side-menu-line-game {
  position: absolute;
  height: 106.25%;
  width: 5.16%;
  top: 0;
  right: 94.84%;
  bottom: -6.25%;
  left: 0;
  border-right: 3px solid var(--orange);
  box-sizing: border-box;
}
.side-menu1 {
  align-self: stretch;
  height: 48px;
  position: relative;
  z-index: 2;
}
.side-menu-icon2,
.side-menu-icon3 {
  width: 40px;
  height: 48px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.side-menu-icon3 {
  height: 40px;
}
.side-menu-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi-9);
}
.side-menu-icon4 {
  height: 32.3px;
  width: 32.3px;
  position: relative;
  z-index: 2;
}
.side-menu-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-8) 0 var(--padding-9xs);
}
.frame-parent12,
.side-menu-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent12 {
  padding: 0 0 0 var(--padding-lgi);
  gap: var(--gap-8xl-9);
}
.side-menu-parent {
  width: 58.1px;
  gap: var(--gap-base-2);
  position:sticky;
}
